body{
    background: rgb(246, 184, 211);
}
.a,.b,.c,.d,.e,.f {
    border: 2px solid black;
    height: 245px;
    margin: 20px;
}

.a {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,43,144,1) 0%, rgba(138,41,141,1) 0%, rgba(137,41,140,1) 0%, rgba(246,156,244,1) 0%, rgba(153,185,134,1) 0%, rgba(139,156,116,0) 0%, rgba(165,209,148,1) 0%, rgba(158,214,128,1) 0%, rgba(218,255,192,1) 0%, rgba(198,233,159,1) 36%, rgba(160,230,153,1) 56%, rgba(188,227,54,1) 68%, rgba(214,171,68,1) 100%, rgba(230,176,110,1) 100%, rgba(227,238,158,1) 100%, rgba(154,122,190,1) 100%, rgba(204,166,246,1) 100%, rgba(184,247,172,1) 100%, rgba(0,212,255,1) 100%, rgba(173,79,174,1) 100%, rgba(142,93,196,1) 100%, rgba(23,193,245,1) 100%, rgba(85,141,220,1) 100%, rgba(187,56,178,0.11257002801120453) 100%);
}
.b{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,43,144,1) 0%, rgba(138,41,141,1) 0%, rgba(137,41,140,1) 0%, rgba(246,156,244,1) 0%, rgba(153,185,134,1) 0%, rgba(139,156,116,0) 0%, rgba(165,209,148,1) 0%, rgba(158,238,238,1) 47%, rgba(154,122,190,1) 100%, rgba(204,166,246,1) 100%, rgba(184,247,172,1) 100%, rgba(0,212,255,1) 100%, rgba(173,79,174,1) 100%, rgba(142,93,196,1) 100%, rgba(23,193,245,1) 100%, rgba(85,141,220,1) 100%, rgba(187,56,178,0.11257002801120453) 100%);
}
.c{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,43,144,1) 0%, rgba(138,41,141,1) 0%, rgba(137,41,140,1) 0%, rgba(246,156,244,1) 0%, rgba(153,185,134,1) 0%, rgba(139,156,116,0) 0%, rgba(165,209,148,1) 0%, rgba(218,255,192,1) 0%, rgba(137,255,224,1) 14%, rgba(154,128,214,1) 55%, rgba(227,54,150,1) 100%, rgba(160,230,153,1) 100%, rgba(198,233,159,1) 100%, rgba(214,171,68,1) 100%, rgba(230,176,110,1) 100%, rgba(227,238,158,1) 100%, rgba(154,122,190,1) 100%, rgba(204,166,246,1) 100%, rgba(184,247,172,1) 100%, rgba(0,212,255,1) 100%, rgba(173,79,174,1) 100%, rgba(142,93,196,1) 100%, rgba(23,193,245,1) 100%, rgba(85,141,220,1) 100%, rgba(187,56,178,0.11257002801120453) 100%);
}
.d{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,43,144,1) 0%, rgba(138,41,141,1) 0%, rgba(137,41,140,1) 0%, rgba(246,156,244,1) 0%, rgba(153,185,134,1) 0%, rgba(139,156,116,0) 0%, rgba(221,192,163,1) 0%, rgba(165,209,148,1) 32%, rgba(218,255,192,1) 61%, rgba(137,255,224,1) 76%, rgba(154,128,214,1) 100%, rgba(227,54,150,1) 100%, rgba(160,230,153,1) 100%, rgba(198,233,159,1) 100%, rgba(214,171,68,1) 100%, rgba(230,176,110,1) 100%, rgba(227,238,158,1) 100%, rgba(154,122,190,1) 100%, rgba(204,166,246,1) 100%, rgba(184,247,172,1) 100%, rgba(0,212,255,1) 100%, rgba(173,79,174,1) 100%, rgba(142,93,196,1) 100%, rgba(23,193,245,1) 100%, rgba(85,141,220,1) 100%, rgba(187,56,178,0.11257002801120453) 100%);
}
.e{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,43,144,1) 0%, rgba(138,41,141,1) 0%, rgba(137,41,140,1) 0%, rgba(246,156,244,1) 0%, rgba(153,185,134,1) 0%, rgba(139,156,116,0) 0%, rgba(208,154,145,1) 0%, rgba(222,145,67,1) 12%, rgba(255,207,192,1) 41%, rgba(185,245,229,1) 67%, rgba(191,108,158,1) 100%, rgba(250,186,212,0.11257002801120453) 100%, rgba(154,128,214,1) 100%, rgba(227,54,150,1) 100%, rgba(160,230,153,1) 100%, rgba(198,233,159,1) 100%, rgba(214,171,68,1) 100%, rgba(230,176,110,1) 100%, rgba(227,238,158,1) 100%, rgba(154,122,190,1) 100%, rgba(204,166,246,1) 100%, rgba(184,247,172,1) 100%, rgba(0,212,255,1) 100%, rgba(173,79,174,1) 100%, rgba(142,93,196,1) 100%, rgba(23,193,245,1) 100%);
}
.f{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,43,144,1) 0%, rgba(138,41,141,1) 0%, rgba(137,41,140,1) 0%, rgba(246,156,244,1) 0%, rgba(153,185,134,1) 0%, rgba(139,156,116,0) 0%, rgba(145,208,187,1) 0%, rgba(67,222,160,1) 12%, rgba(201,192,255,1) 41%, rgba(238,185,245,1) 67%, rgba(108,191,189,1) 100%, rgba(186,250,239,0.11257002801120453) 100%, rgba(154,128,214,1) 100%, rgba(227,54,150,1) 100%, rgba(160,230,153,1) 100%, rgba(198,233,159,1) 100%, rgba(214,171,68,1) 100%, rgba(230,176,110,1) 100%, rgba(227,238,158,1) 100%, rgba(154,122,190,1) 100%, rgba(204,166,246,1) 100%, rgba(184,247,172,1) 100%, rgba(0,212,255,1) 100%, rgba(173,79,174,1) 100%, rgba(142,93,196,1) 100%, rgba(23,193,245,1) 100%);
}
img {
    height: 100px;
    padding: 2px;
    padding-left: 20px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 40px;
    word-spacing: 5px;
}