body{
    background-color:  rgb(235, 227, 227);
}
p{
    padding: 10px;
}
.a, .b, .c, .d, .e{
    border: 3px solid rgb(71, 122, 45);
    background-color: rgb(253, 253, 253);
    word-wrap: 20px;
    border-radius: 10px;
    text-decoration: underline;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 30px;
}
.b{
    border: 3px solid rgb(122, 74, 45);
    border-style: dashed;
    background-color: rgb(218, 218, 218);
    /* word-wrap: 20px; */
    /* border-radius: 10px; */
    text-decoration: line-through;
    /* word-spacing: 5px; */
    /* letter-spacing: 2px; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* text-indent: 30px; */
    margin-top: 15px;
}
.c{
    border: 3px solid rgb(34, 76, 123);
    text-decoration: none;
    border-style: ridge;
    background-color: rgb(178, 221, 226);
    margin-top: 15px;
}
.d{
    border: 5px solid rgb(110, 10, 105);
    text-decoration: overline;
    border-style: groove;
    background-color: rgb(237, 190, 243);
    margin-top: 15px;
}
.e{
    border: 5px solid rgb(110, 10, 53);
    text-decoration: overline;
    border-style: double;
    background-color: rgb(243, 190, 210);
    margin-top: 15px;
}
