*{
    margin: 0;
    padding: 0;
}

.main{
    height: 70px;
    width: 100%;
    background-color: rgb(224, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-div{
    
    height: 69px;
    width: 13%;
    display: flex;
    align-items: center;
}
input{
    border: none;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: large;
}
/* .fa-solid{
    position: fixed;
    top: 27px;
    left: 590px;
} */
.link-div{
   /* border: 2px solid black; */
   width: 700px;
   height: 40px;
   align-items: center;
   display: flex;
   font-size: large;
   justify-content: space-between;
   margin-right: 10px;
   padding-right: 10px;
}
a{
    text-decoration: none;
    /* color: rgb(46, 46, 97); */
}
span{
    padding-left: 10px;
    padding-right: 10px;
    font-size: xx-large;
}
.fa-regular{
    padding-left: 15px;
}
.fa-solid{
    padding-left: 5px;
    padding-right: 2px;
}




.main2{
    height: 45px;
    width: 100%;
    background-color: rgb(237, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}
.main2 a{
    color: black;
}